@model FunApp.Services.Models.Home.IndexViewModel

<div class="row">
    @foreach(var joke in Model.Jokes)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(joke.HtmlContent)
                </div>

                <div class="panel-footer">
                    @joke.CategoryName

                    <a class="btn btn-default btn-group-sm" asp-controller="Jokes" asp-action="Details" asp-route-id="@joke.Id">View</a>
                </div>
            </div>
        </div>
    }
</div>